<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481649968102-v4ubhtfrckn23nc6el2m62p01vigg2pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481649968102-v4ubhtfrckn23nc6el2m62p01vigg2pb</string>
	<key>API_KEY</key>
	<string>AIzaSyAMCfzK39LkHdpJL4ZbKIZMCRSHDrbTG7U</string>
	<key>GCM_SENDER_ID</key>
	<string>481649968102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-ym</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-ym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481649968102:ios:559712f11dafb7d69e8c27</string>
</dict>
</plist>