<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718594892633-pfjdjgb7k85hp9oiogcgg89m49sb6qg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718594892633-pfjdjgb7k85hp9oiogcgg89m49sb6qg2</string>
	<key>API_KEY</key>
	<string>AIzaSyBKwR5oT7PY8cE3Gudp6Pgpfj0nT9CTYCc</string>
	<key>GCM_SENDER_ID</key>
	<string>718594892633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appoment.appoment</string>
	<key>PROJECT_ID</key>
	<string>appoment-8f089</string>
	<key>STORAGE_BUCKET</key>
	<string>appoment-8f089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718594892633:ios:b292604b07c02b03736248</string>
</dict>
</plist>